@model myBug.Models.Bug
@using myBug.Models
@{
    ViewData["Title"] = "Admin Page";
}

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 class="h2">
                    Editar ou Excluir Bugs <br /> <small> Welcome Admin</small>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
                <form asp-action="Delete" asp-controller="Admin" method="delete">
                    @foreach (var item in ViewBag.Bugs as List<Bug>)
                    {
                        <input type="hidden" name="id" value="@item.Id" />
                        <br />
                        <button type="submit"> Deletar @item.Id </button>
                        <br /> 
                     }

             </form>  
        </div>
        <div class="col-sm-11">
            <div class="well well-sm">
                <form asp-action="Cadastrar" asp-controller="Bug" method="post">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Id </th>
                                        <th> Titulo </th>
                                        <th> Severidade</th>
                                        <th> Email </th>
                                        <th> Descricao </th>
                                        <th> Data </th>
                                        <th> Done ?? </th>
                                        <th> Editar </th>
                                    </tr>
                                </thead>
                                @foreach (var item in ViewBag.Bugs as List<Bug>)
                                {
                                <tbody>
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Titulo</td>
                                        <td>@item.Severidade</td>
                                        <td>@item.Email</td>
                                        <td>@item.Descricao</td>
                                        <td>@item.DataRegistro</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <a href="/Bug/Index/@item.Id"> Editar</a>
                                        </td>
                                    </tr>
                                </tbody>
                                }
                            </table>
                          </form>
                   </div>
               </div>
            </div>
        </div>
