@model myBug.Models.Bug
@using myBug.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 class="h2">
                    Lista de Bugs <small>Aqui estão todos os Bugs Cadastrados</small>
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form asp-action="Cadastrar" asp-controller="Bug" method="post">
                    <div class="row">
                        <div class="col-md-6">
                           @foreach ( var item in ViewBag.Bugs as List<Bug>)
                           {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Titulo </th>
                                        <th> Severidade</th>
                                        <th> Email </th>
                                        <th> Descricao </th>
                                        <th> Produto </th>
                                        <th> Data </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@item.Titulo</td>
                                        <td>@item.Severidade</td>
                                        <td>@item.Email</td>
                                        <td>@item.Descricao</td>
                                        <td>@item.Produto</td>
                                        <td>@item.DataRegistro</td>
                                    </tr>
                                </tbody>
                            </table>

                           }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
